{% extends "temp.html" %}
{% load static %}

{% block title %}
<title>Irfan | Create Schedule </title>
{% endblock %}

{%block content %}
    <!-- ini navbar -->
    <nav class="navbar navbar-light bg-transparent">
      <div class = "container">
        <a class="navbar-brand" href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/download.png" %}" width="50" height="50" alt="">
        </a>
        <a href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/close.png" %}" width="50" height="50" alt="">
        </a>
      </div>
    </nav>
    <!-- akhir dari navbar -->

    <!-- last jumbotron -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="display-4 text-center">Create Schedule!</h1>
        </div>
      </div>
    </section>
    <!-- akhir jumbotron -->

    <!-- ini start form -->
    <section class="form">
      <div class="container">
        <form id="form" method="POST" action='{% url 'lab_4:saveproject' %}'>
          <div class="form-row">
            <div class="form-group col-md-offset-6 text">
	        	      {% csrf_token %}
	                {{ form }}
	        	<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- ini akhir form -->

    <!-- ini waste of space -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
      </div>
    </section>
    <!-- ini akhir waste of space -->


{% endblock %}
