{% extends "temp.html" %}
{% load static %}

{% block title %}
<title>Irfan | Designer, Front-end, and Photographer </title>
{% endblock %}

{%block content %}
  <!-- ini navbar -->
  <nav class="navbar navbar-light bg-transparent">
    <div class = "container">
      <a class="navbar-brand" href='{% url 'lab_4:home' %}'>
        <img src="{% static "img/download.png" %}" width="50" height="50" alt="">
      </a>
      <a href='{% url 'lab_4:saveproject' %}'>
        <button type="button" class="btn btn-outline-warning btn-sm">Create Schedule</button>
      </a>
      <a href='{% url 'lab_4:project_table' %}'>
        <button type="button" class="btn btn-outline-warning btn-sm">List of Schedule</button>
      </a>
      <a href='{% url 'lab_4:hello' %}'>
        <button type="button" class="btn btn-outline-warning btn-lg">Say hello</button>
      </a>
    </div>
  </nav>
  <!-- akhir dari navbar -->

  <!-- Ini Jumbotron -->
  <div class="jumbotron">
    <br>
    <h1 class = text-center> <b> Designer, Front-end Developer & Photographer </b> </h1>
    <br>
    <h5 align="center"> I like to make beautiful code and take beautiful pictures </h5>
    <br>
    <br>
    <div class = "text-center">
      <img src="{% static "img/atomix_user2.png" %}">
    </div>
  </div>
  <!-- ini akhirnya -->

  <!-- gambar laptop -->
  <div class="container text-center">
    <img src="{% static "img/hero.png" %}" class="img-fluid" alt="Responsive image">
  </div>
  <!-- akhir gambar laptop -->

  <!-- paragraf about -->
  <section class="about" id="about">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="text-center"> Hi, I'm Irfan. Nice to meet you.</h1>
        <p class="text-center">I just recently start my journey as a designer,
          I've done remote work for school, consulted for startups,
          and collaborated with talented people to create digital
          products for both business and consumer use. In photography,
          i'm a professional with 7 years experiences.
          I've won many competition, awards, and been asked to be a judge.
          I'm quietly confident, naturally curious, and perpetually
          improving my chops. </p>
      </div>
    </div>
  </section>
  <!-- akhir dari paragraf about -->

  <!-- ini awal table -->
  <section class="Skills" id="Skills">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <br>
          <div class="text-center">
            <img src="{% static "img/design.png" %}"  class="text-center">
          </div>
          <p class="lead text-center" id="judul_tabel"> Designer </p>
          <br>
          <p class="text-center">I value simple structure, clean, very basic patterns, and toughtful interactions.</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> Things I enjoy designing</p>
          <p class="text text-center">UX, UI, Web, Mobile, Apps, Logos</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> Design Tools </p>
          <p class="text-center"> Balsamiq Mockups<br>Figma<br>Invision<br>Marvel<br>Pen & Paper<br>Sketch<br>Webflow<br>Zeplin</p>
        </div>
        <div class="col-xl-4">
          <br>
          <div class="text-center">
            <img src="{% static "img/coding.png" %}" class="text-center">
          </div>
          <p class="lead text-center" id="judul_tabel"> Front-end Developer </p>
          <br>
          <p class="text-center">I tend to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> Language i speak:</p>
          <p class="text text-center">HTML, Pug, Slim, CSS, Sass, Less</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> Dev Tools: </p>
          <p class="text-center"> Atom<br>Bitbucket<br>Bootstrap<br>Bulma<br>Codekit<br>Codepen<br>Github<br>Gitlab<br>Terminal </p>
        </div>
        <div class="col-xl-4">
          <br>
          <div class="text-center">
            <img src='{% static 'img/camera.png' %}' class="text-center">
          </div>
          <p class="lead text-center" id="judul_tabel"> Photographer </p>
          <br>
          <p class="text-center">I really like to take street photography, where you can suddenly meet rare moments.</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> My gear:</p>
          <p class="text text-center">Sony A7RIII, Fujifilm XT10, Canonet</p>
          <br>
          <br>
          <br>
          <p class="lead text-center" id="judul_tabel"> Photographer stats: </p>
          <p class="text-center"> 6 years experience<br>10 short clases<br>100+ awards
        </div>
      </div>
    </div>
  </section>
  <!-- ini akhir tabel -->

  <!-- ini awal headline buat projects -->
  <div class="jumbotron text-center">
    <h1 class="text-center"> My Recent Works </h1>
    <p> Here are a few recent design and photo projects. Want to see more? <a href="mailto:mirfanamrullah@gmail.com?Subject=Hello%20again">Email me</a>.</p>
  </div>
  <!-- ini akhirnya -->

  <!-- ini buat thumbnail -->
  <section class="ini thumbnail">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <img src="{% static "img/1_FtYgYG_G6rplUmF5fLzuXA.png" %}" alt="Gitlab" class="img-thumbnail">
        </div>
        <div class="col-xl-4">
          <img src="{% static "img/behance-logo-black.png" %}" alt="behance" class="img-thumbnail">
        </div>
        <div class="col-xl-4">
          <img src="{% static "img/Logo_Viewbug_4.png" %}" alt="Viewbug" class="img-thumbnail">
        </div>
      </div>
    </div>
  </section>
  <!-- ini akhirnya -->

  <!-- tombol daftar -->
  <section class="Register">
    <br>
    <div="container">
      <a href='{% url 'lab_4:message' %}'>
        <button type="button" class="btn btn-primary btn-lg btn-block">Daftar Menjadi Teman</button>
      </a>
    </div>
    <br>
  </section>
  <!-- akhirnya -->

  <!-- ini awal profile -->
  <section class = "profile">
    <div class="jumbotron">
      <h1 class="text-center"> Profile </h1>
      <div class="text-center">
        <img src="{% static "img/_DSC2697.jpg" %}" class="rounded-circle" alt="Irfan">
      </div>
      <h2 class="text-center"> Muhammad Irfan Amrullah </h2>
      <p class="text-center"> The youngest programmer in South East Asia,
Pulitzer Awards 2018. </p>
    </div>
  </section>

  <!-- ini akhir profile -->

{% endblock %}
