{% extends "temp.html" %}
{% load static %}

{% block title %}
<title>Irfan | Create Schedule </title>
{% endblock %}

{%block content %}
    <!-- ini navbar -->
    <nav class="navbar navbar-light bg-transparent">
      <div class = "container">
        <a class="navbar-brand" href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/download.png" %}" width="50" height="50" alt="">
        </a>
        <a href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/close.png" %}" width="50" height="50" alt="">
        </a>
      </div>
    </nav>
    <!-- akhir dari navbar -->

    <!-- last jumbotron -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="display-4 text-center">List of Schedule!</h1>
        </div>
      </div>
    </section>
    <!-- akhir jumbotron -->

    <!-- ini start form -->
    <section class="container">
      <div class="container">
        <div class ="row">
          {% for i in project %}
            <div class ="col-sm-4 text-center">
              <h2> {{i.title}}</h2>
              <p> {{i.day}} </p>
              <p> {{i.created_date.date}}</p>
              <p> {{i.place}} </p>
              <p> {{i.category}} </p>
              <p> {{i.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- ini akhir form -->

    <section class="tomboldelete">
      <div class="container text-center">
        <a href='{% url 'lab_4:delete_table' %}'>
          <button type="button" class="btn btn-outline-warning btn-lg">Delete Schedule</button>
        </a>
      </div>
    </section>

    <!-- ini waste of space -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
      </div>
    </section>
    <!-- ini akhir waste of space -->


{% endblock %}
