{% extends "temp.html" %}
{% load static %}

{% block title %}
<title>Irfan | Register </title>
{% endblock %}

{%block content %}
    <!-- ini navbar -->
    <nav class="navbar navbar-light bg-transparent">
      <div class = "container">
        <a class="navbar-brand" href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/download.png" %}" width="50" height="50" alt="">
        </a>
        <a href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/close.png" %}" width="50" height="50" alt="">
        </a>
      </div>
    </nav>
    <!-- akhir dari navbar -->

    <!-- last jumbotron -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="display-4 text-center">Let's be friends!<br>I'll email every project to you guys every month!</h1>
        </div>
      </div>
    </section>
    <!-- akhir jumbotron -->

    <!-- ini start form -->
    <section class="form">
      <div class="container">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputname">Name</label>
              <input type="text" class="form-control" id="inputname" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputdates">Birthday</label>
              <input type="date" class="form-control" id="inputdates">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputUser">Username</label>
              <input type="text" class="form-control" id="inputUser" placeholder="Username">
            </div>
            <div class="form-group col-md-4">
              <label for="inputPass">Password</label>
              <input type="password" class="form-control" id="inputPass" placeholder="Password">
            </div>
            <div class="form-group col-md-4">
              <label for="ConfirmPass">Password Confirmation</label>
              <input type="password" class="form-control" id="ConfirmPass" placeholder="Confirm Password">
            </div>
          </div>
        </form>
      </div>
      <div class="container text-center">
        <button type="submit" class="btn btn-outline-warning btn-lg">Submit</button>
      </div>
    </section>
    <!-- ini akhir form -->

    <!-- ini waste of space -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
      </div>
    </section>
    <!-- ini akhir waste of space -->


{% endblock %}
