{% extends "temp.html" %}
{% load static %}

{% block title %}
<title>Irfan | contact </title>
{% endblock %}

{%block content %}
    <!-- ini navbar -->
    <nav class="navbar navbar-light bg-transparent">
      <div class = "container">
        <a class="navbar-brand" href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/download.png" %}" width="50" height="50" alt="">
        </a>
        <a href='{% url 'lab_4:home' %}'>
          <img src="{% static "img/close.png" %}" width="50" height="50" alt="">
        </a>
      </div>
    </nav>
    <!-- akhir dari navbar -->



    <!-- ini gambar -->
    <section class="profilehello">
      <div class="text-center">
        <img src="{% static "img/atomix_user2.png" %}">
      </div>
    </section>
    <!-- ini akhir dari gambar -->

    <!-- last jumbotron -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <h1 class="display-4 text-center">Thanks for taking the time to reach out. <br>What can I do for you today?</h1>
        </div>
      </div>
    </section>
    <!-- akhir jumbotron -->


    <!-- ini start form -->
    <section class="form">
      <div class="container">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputname">Name</label>
              <input type="text" class="form-control" id="inputname" placeholder="Name">
            </div>
          <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Message"></textarea>
          </div>
        </form>
      </div>
      <div class="container text-center">
        <button type="submit" class="btn btn-outline-warning btn-lg">Submit</button>
      </div>
    </section>
    <!-- ini akhir form -->

    <!-- ini waste of space -->
    <section class="helpJumbotron">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
        </div>
      </div>
    </section>
    <!-- ini akhir waste of space -->

{% endblock %}
