p {
  font-family: ;
}

h1 {
  font-family: ;
}

h5 {
  font-family: bookman;
}

.about p {
  color: #FFFFFF
}

.about h1 {
  color: #FFFFFF
}

#judul_tabel {
  color: #FF7800;
}

.jumbotron img {
  width: 250px;
}

.jumbotron {
  background: none;
}

.img-fluid {
  width: 900px;
}

.about {
  background-color: #FF7800;
  border: 100px solid #FF7800;
}

.profile {
  background-color: #FF7800;
}

.register button {
  background-color: #FF7800;
  border: none;
}

.profile img {
  width:150px;
  border: 5px solid #FFFFFF;
}

.profile p {
  color: #FFFFFF;
}

.profile h1 {
  color: #FFFFFF;
}

.profile h2 {
  color: #FFFFFF;
}

.profilehello img {
  width: 100px;
}
